@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
  }
}

html,
body {

  max-width: 100vw;
  
  overflow-x: hidden;
}
